name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: '0 0 * * *'

jobs:
  clang-format:
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Lint
      uses: DoozyX/clang-format-lint-action@v0.18.2
      with:
        clangFormatVersion: 14
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          version: 6.4.2
      - name: Configure
        run: |
          cmake \
          -DCPACK_PACKAGE_CONTACT="${{ secrets.CONTACT }}" \
          -DCMAKE_BUILD_TYPE=Release \
          -B build
      - name: Build
        run: cmake --build build
      - name: Pack
        working-directory: build
        run: cpack -G "DEB"
      - name: Publish
        uses: actions/upload-artifact@v5
        with:
          path: build/*.deb
